:root {
    --main-color: #3F48CC;
}



.courseAvanced {
    max-width: 260px;
    background-color: var(--main-color);
    border-radius: 5px;
    height: 320px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px gray;
}