:root {
    --main-color: #3F48CC;
    --icon-color: #0070FF;
}

.container {
    padding: 10px 20px;
    box-sizing: border-box;
}

/* .content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
} */

/* .content_left {
    width: auto;
    padding: 0px 20px;
    box-sizing: border-box;
} */

.exercise_score {
    width: auto;
}

.exercise_score>input {
    width: 100%;
    height: 30px;
    font-size: 20px;
    padding: 0px 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.exercise_level {
    margin-top: 30px;
}

.btnAddTestCase{
    float: right;
}

.content_TestCase {
    margin-top: 20px;
    width: auto;
}

.exercise_btn{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

.input_testcase{
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: white;
    position: fixed;
    height: 300px;
    box-sizing: border-box;
    overflow: auto;
}

.input_output{
    width: 100%;
}
.testcase{
    width: 100%;
    margin-top: 10px;
    background-color: #e7dfdf;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    padding: 0px 20px;
    height: 40px;
    box-sizing: border-box;
}
.testcase label{
    color: rgb(59, 58, 58);
}
.input_testcase h2{
    margin-top: 0px;
    width: 100%;
    text-align: center;
}
.btn_intputTestCase{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.testcase_btn{
    cursor: pointer;
}
.btn_close{
    cursor: pointer;
    margin-right: 20px;
}
.btn_save{
    color: red;
    cursor: pointer;
}
.btn_update{
    color: white;
    margin-right: 20px;
}
.btn_delete{
    color: red;
}