.Footer{
    display: block;
    box-sizing: border-box;
    height: 250px;
    padding-top: 20px;
    color: #2C31CF;
    box-sizing: border-box;
}
/*******************************/
.Logo-Footer{
    display: block;
    margin-left: 110px;
    max-width: 580px;
    float: left;
    margin-right: 200px;
}
.Discription{
    color: black;
    display: block;
}
.SocialNetwork{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: block;
}
.SocialNetwork li{
    display: inline;
}
.SocialNetwork li a img{
    max-height: 50px;
}
/*******************************/
.Links{
    float: left;
}
.Information{
    margin-left: 200px;
    float: left;
}
.Help{
    margin-left: 200px;
    float: left;
    display: block;
}

.List{
    display: block;
    padding-inline-start: 0px;
}
.List li{
    margin-top: 9px;
    list-style-type: none;
}
.List li a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.List li a:hover{
    text-decoration: underline;
}
/*******************************/
