#header{
    /* background:; */
    height: 100px;
    font-size: 18px;
}
.logo{
    padding-top: 10px;
    width: 180px;
    height: 60px;
    float: left;
    margin-left: 70px;
    box-sizing: border-box;
}
.List-menu{
    height: 20px;
    width: 800px;
    display: inline;
    padding-left: 70px;
    float: left;
    list-style-type: none;
}
.List-menu a{
    /* padding-left: 20px; */
    text-decoration: none;
    color: Black;
    font-size: 18px;
}
.button{
    margin-top: 20px;
    /* margin-bottom: auto; */
    width: 200px;
    height: 50px;
    float: left;
    /* padding-right: -20px; */
}
.Login{
    background-color: white;
    font-size: 20px;
    height: 30px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
}
.Login:hover{
    color: white;
    background-color: aqua;
}
.Register{
    padding-left: 5px;
    background-color: white;
    font-size: 20px;
    height: 30px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
}
.Register:hover{
    color: white;
    background-color: red;
}