.classRoom {
    width: 100%;
    min-height: 80vh;
    margin-top: 10px;
    margin-bottom: 100px;
}
.area_joinClass{
    width: 100%;
    height: 50px;
}

.classRoomList{
    margin: 30px 58px;
}
.room{
    text-decoration: none;
}

.roomheader {
    width: 100%;
    height: 80px;
    color: white;
    padding-top: 2%;
    background-color:#24859A;
}

.roomName {
    color: white;
    margin-top: 2%;
    margin-left: 8%;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
    font-size-adjust: 20%;
}


.ownerName {
    width: 100%;
    margin: 1px 0px 15px;
    color: rgb(77, 74, 74);
    font-size: 20px;
    height: fit-content;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ownerImage {
    margin-left: 20px;
    margin-top: -25px;
    font-size: 35px;
}


.line {
    margin-top: 3px;
    width: 100%;
    height: 0.5px;
    background-color: rgb(187 174 174);
}

.numberStudent {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(104, 98, 98);
}
.numberStudent span{
    font-size: 18px;
    margin-right: 10px;
}

.icon_numberStuden{
    font-size: 18px;
    margin-right: 8px;
}
