.header {
    background-color: aqua;
    height: 100px;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}
.logoAdmin{
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
}
.headerAdmin{
    width: auto;
    display: flex;
    align-items: center;
}