:root {
    --main-color: #3F48CC;
    --header-color: #C4C4C4;

}

.header{
    background-color: var(--header-color);
    width: 100%;
    height: 61px;
    display: inline-block;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
}
.header img{
    float: left;
    /* background-color: white; */
}
.header h1{
    width: 400px;
    /* color: white; */
    font-weight: 500;
    margin: 0px ;
    font-size: 30px;
}
.content{
    /* background-color: red; */
    width: 100%;
    min-height: 50rem;
    display: block;
    /* flex-direction: column; */
    padding-left: 4rem;
    box-sizing: border-box;
}
.textH1{
    font-weight: bolder;
}
.content p{
    margin: 0px;
    font-size: 25px;
    width: 80%;
}
.content img{
    margin-top: 20px;
    display: block;
}