:root {
    --nav-left-button: #03045E;
    --testcase-color: #515151;
}


.Body {
    width: 100%;
    height: 100%;
}


.nav_left {
    width: 4%;
    height: 100vh;
    background-color: #ebebed;
    text-align: center;
    float: left;
}

.nav_left div {
    padding: 20px 0px;
}

#is_select {
    background-color: #275975;
    width: 100%;
    height: 50px;
    color: white;
}

.nav_item {
    font-size: px;
}
.navLeftItem_icon
{
    font-size: 25px;
}
.nav_item:hover {
    cursor: pointer;
    color: white;
    background-color: var(--nav-left-button);
}
.nav_item_active{
    color: white;
    font-size: 30px;
    background-color: var(--nav-left-button);
}
/* Nội dung bài tập */
.content {
    width: 46%;
    height: 100vh;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
    padding: 20px;
    float: left;
    color: #242526;
    box-sizing: border-box;
}
.content h1{
    text-align: center;
}
.content div p{
    font-size: 17px;
}

.sample_output div, .sample_input div{
    background-color: #e7ebf0;
    padding: 5px 10px;
    white-space: pre-line;
    font-weight: 500;
    margin-right: 20px;
    margin-bottom: 10px;
}


.content h2 {
    margin-top: 30px;
    font-size: 19px;
}

.content p {
    margin-top: 10px;
    line-height: 1.6;
    font-size: 16px;
}


.code_editor {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 50%;
    height: 100vh;
}

.editor{
    position: relative;
    height: 70%;
}

.option_language {
    height: 5%;
    width: 100%;
    background-color: #24242c;
}

.selectpicker {
    float: right;
    outline: none;
    position: relative;
    right: 5px;
    top:5px;
}

.result {
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0px;
    background-color: var(--testcase-color);
}

.result h3 {
    height: 30px;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
}



.submit_code {
    position: absolute;
    right: 20px;
    bottom: 10px;
    /* bottom: 20px; */
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    box-sizing: border-box;
    float: right;
    background-color: #26A12B;
    color: rgb(216, 212, 212);
}

.submit_code:hover {
    background-color: #157018;
    color: rgb(255, 255, 255);
}



.result_content {
    width: auto;
    min-height: 25%;
}

.list_testcase {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px 0px;
    list-style: none;
}

.list_testcase li {
    flex-basis: 33.3%;
}

.case {
    height: 30px;
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.case_icon {
    margin-right: 8px;
}

.case span {
    color: white;
    font-size: 15px;
}

.icon_success {
    color: #23A44F;
}

.icon_error {
    color: #FF4848;
}

.navRessult{
    height: 35px;
    display: flex;
}

.navRessult_item{
    margin-right: 20px;
    cursor: pointer;
    background-color: #515151;
    color: rgb(222, 222, 222);
    padding-bottom: 5px;
}
.isSelect_navRessult{
    border-bottom: 3px solid #fbfbfb;
}

.consoleScreen{
    width: 100%;
    min-height: 90%;
    color: rgb(7, 7, 7);
    padding: 10px;
    display: flex;
}

.consoleContent{
    width: 50%;
    font-size: 16px;
    background-color: #e5dfdf;
    padding: 10px;
    color: rgb(43, 41, 41);
    border-radius: 10px;
    box-sizing: border-box;
}


.consoleInput{
    width: 50%;
    padding-left: 20px;
    padding-right: 30px;
    box-sizing: border-box;
}

.consoleInput button{
    margin-top: 5px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    box-sizing: border-box;
    background-color: #c3bcbc;
    color: rgb(71, 65, 65);
}

.consoleInput button:hover{
    background-color: #9ba3a7;
    color: rgb(66, 43, 43);
}

.inputEdittext{
    height: 60px;
    font-size: 16px;
    background-color: #ebe7e7;
    outline: none;
    border-radius: 10px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Body{
        height: fit-content;
    }
    .nav_left {
        width: 10%;
    }

    .nav_left>div {
        margin-bottom: 0;
        cursor: pointer;
    }

    .nav_item {
        width: 100%;
        /* height: fit-content; */
    }

   

    .nav_left>div>svg {
        width: 25px;
    }

    .content {
        width: 90%;
    }

    .code_editor {
        width: 100%;
        float: none;
        height: 70%;
    }



    .button{
        background-color: var(--testcase-color);
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .btn{
        border-top: none;
        border-style: none;
        border-radius: 5px;
        outline: none;
        width: 100px;
        height: 35px;
        margin-left: 15px;
        color: white;
        background-color: green;
    }
}