:root {
    --nav-left-button: #03045E;
    --testcase-color: #515151;
    --code-editor-color: #2B2D42;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #979292;
    border-left: 0.5px solid #ebe7e7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(219, 219, 224);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(189, 187, 187);
}

.content_body {
    /* position: relative; */
    height: 100vh;
    width: 100wh;
}

.header {
    /* position: relative; */
    height: 6vh;
    background-color: #D5DCEB;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
    box-sizing: border-box;
}

.header h3 {
    /* position: absolute; */
    margin-left: 2%;
    font-size: 25px;
    color: #3b3838;
}

.Body {
    display: inline-block;
    width: 100%;
    height: fit-content;
}


.nav_left {
    /* position: absolute; */
    width: 4%;
    height: calc(100vh - 6vh);
    background-color: #D5DCEB;
    text-align: center;
    float: left;
}

.nav_left div {
    margin-bottom: 10px;
    padding: 7px 0px;
}

#is_select {
    background-color: #275975;
    width: 100%;
    height: 50px;
    color: white;
}

.nav_item {
    font-size: 15px;
}
.nav_item:hover {
    cursor: pointer;
    color: white;
    background-color: var(--nav-left-button);
}
.nav_item_active{
    color: white;
    font-size: 15px;
    background-color: var(--nav-left-button);
}

.content {
    /* position: absolute; */
    width: 45%;
    height: 94vh;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}


.content h2 {
    margin-top: 30px;
    font-size: 19px;
}

.content p {
    margin-top: 10px;
    line-height: 1.6;
    font-size: 16px;
}

.sample_input p,
.sample_output p {
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    background-color: #F3EFEF;
}

.code_editor {
    float: left;
    width: 51%;
    height: 94vh;
}

.option_language {
    height: 5%;
    width: 100%;
    background-color: #24242c;
}

.selectpicker {
    float: right;
    outline: none;
}



.result {
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 25%;
    /* position: absolute; */
    bottom: 0px;
    background-color: var(--testcase-color);
}

.result h3 {
    height: 20px;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
}

.submit_code {
    position: absolute;
    right: 20px;
    top: 690px;
    /* bottom: 20px; */
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    box-sizing: border-box;
    float: right;
    background-color: #26A12B;
    color: rgb(216, 212, 212);
}

.submit_code:hover {
    background-color: #157018;
    color: rgb(255, 255, 255);
}



.result_content {
    width: auto;
    min-height: 25%;
}

.list_testcase {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px 0px;
    list-style: none;
}

.list_testcase li {
    flex-basis: 33.3%;
}

.case {
    height: 30px;
    margin: 5px 5px;
}

.case i {
    /* position: absolute; */
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 17px;
}

.case span {
    color: white;
    /* position: absolute; */
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: 15px;
}

.icon_success {
    color: #23A44F;
}

.icon_error {
    color: #FF4848;
}

.navRessult{
    height: 35px;
    display: flex;
}

.navRessult_item{
    margin-right: 20px;
    cursor: pointer;
    background-color: #515151;
    color: rgb(222, 222, 222);
    padding-bottom: 5px;
}
.isSelect_navRessult{
    border-bottom: 3px solid #fbfbfb;
}

.consoleScreen{
    width: 100%;
    min-height: 90%;
    color: rgb(7, 7, 7);
    padding: 10px;
    display: flex;
}

.consoleContent{
    width: 50%;
    font-size: 16px;
    background-color: #e5dfdf;
    padding: 10px;
    color: rgb(43, 41, 41);
    border-radius: 10px;
    box-sizing: border-box;
}


.consoleInput{
    width: 50%;
    padding-left: 20px;
    padding-right: 30px;
    box-sizing: border-box;
}

.consoleInput button{
    margin-top: 5px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    box-sizing: border-box;
    background-color: #c3bcbc;
    color: rgb(71, 65, 65);
}

.consoleInput button:hover{
    background-color: #9ba3a7;
    color: rgb(66, 43, 43);
}

.inputEdittext{
    height: 60px;
    font-size: 16px;
    background-color: #ebe7e7;
    outline: none;
    border-radius: 10px;
}

.button{
    display: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Body{
        height: fit-content;
    }
    .nav_left {
        width: 10%;
    }

    .nav_left>div {
        margin-bottom: 0;
        cursor: pointer;
    }

    .nav_item {
        width: 100%;
        /* height: fit-content; */
    }

   

    .nav_left>div>svg {
        width: 25px;
    }

    .content {
        width: 90%;
    }

    .code_editor {
        width: 100%;
        float: none;
        height: fit-content;
    }


    .submit_code {
        display: none;
    }

    .button{
        background-color: var(--testcase-color);
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
    }
    .btn{
        border-top: none;
        border-style: none;
        border-radius: 5px;
        margin-left: 20px;
        outline: none;
        width: 100px;
        height: 35px;
        color: white;
        background-color: green;
    }
}