.Login{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 380px;
    z-index: 10;
}

.Login span{
    margin-top: 20px;
    color: rgb(80, 81, 82);
}
.modal {
    border-radius: 6px;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 40px;
    box-sizing: border-box;
}
.modal h1{
    text-transform: uppercase;
    font-size: 2rem;
    color: rgb(80, 81, 82);
    margin-top: 5px;
    margin-bottom: 10px;
}
.modal .input{
    outline: none;
    width: max-content;
    margin-top: 20px;
    height: 45px;
    width: 100%;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 5px;
    border: solid 1px rgb(88, 85, 85);
    box-sizing: border-box;
}

.btnLogin{
    margin-top: 10px;
    height: 50px;
    min-width: 310px;
    font-size: 20px;
    color: white;
    border-radius: 0.5rem;
    border-style: none;
    background-color: red;
}
.btnLogin:hover{
    cursor: pointer;
    background-color: red,0.5;
}

.socialNetwork{
    margin-top: 15px;
    display: flex;
    width: 205px;
    flex-direction: row;
    justify-content: space-between;
}

.btn_socialNetwork{
    background-color: white;
    cursor: pointer;
    /* margin: 2px 20px; */
    cursor: pointer;
    border-radius: 10px;
    border: 0px;
}

.dangKy:hover{
    cursor: pointer;
    color: rgb(255, 0, 25);
}