.couresDetail{
    height: 60rem;
    box-sizing: border-box;
    padding-top: 6.5rem;
}
.couresDetailTitle{
    display: inline-block;
    width: 100%;
}
.couresDetailTitle img{
    width: 48px;
    margin-top: 20px;
    float: left;
}
.couresDetailList{
    width: 100%;
    /* height: 40rem; */
    /* padding-top: -50px; */
    padding-left: 50px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;
    list-style: none;
    box-sizing: border-box;
}
.coure{
    height: 57px;
    width: 95%;
    cursor: pointer;
    text-align: left;
    box-shadow: 0px 0px 5px 0px grey;
    margin-top: 20px;
    padding-left: 10px;
    line-height: 55px;
    font-size: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
}
/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .couresDetail{
        height: fit-content;
        box-sizing: border-box;
        padding-top: 6.5rem;
    }
    .couresDetailTitle{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 5px;
        justify-content: flex-start;
    }
    .couresDetailTitle > h1{
        font-size: 20px;
        margin-left: 10px;
        width: fit-content;
    }
    .couresDetailList{
        padding: 0px 20px;
        margin: 0px;
    }
    .coure{
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
    }
   
}

