/* :root {
    --level-easy: #E7FAF5;
    --level-easy-border: #B5D0C9;
    --level-average: #D3DDDE;
    --level-average-border: #768B8F;
    --level-hard: #FFA8A8;
    --level-hard-border: #FDA591;
} */
.Content {
    /* margin-top: 90px;
    padding-top: 10rem; */
    /* background-image: url("../src//assets//img//background-1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50rem; */
    padding-top: 7rem;
    background-color: #ede0d4;
    box-sizing: border-box;
}


/* .Content-Login{
    height: 800px;
} */
.first_content {
    /* padding-top: 7%; */
    display: flex;
    height: 40rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left_content {
    width: 50%;
    margin-top: -10%;
    margin-left: 5%;
    box-sizing: border-box;
    display: block;
    text-align: left;

}

.left_content > h1 {
    font-size: 5rem;
    max-width: 750px;
    /* margin: 0%; */
    text-transform: uppercase;
}

.left_content p {
    margin-top: -5%;
    max-width: 600px;
}

.right_content {
    min-width: 50%;
    height: 90%;
    /* margin-top: -10%; */
    /* display: flex; */
    background-image: url("../../images//Frame-2.png");
    background-size: contain;

    background-repeat: no-repeat;

}

.First-content h1 {
    width: 30%;
}

.Left-side {
    height: 40rem;
    width: 50%;
}

.Img {
    height: 30rem;
    width: 50rem;
    /* float: right; */
}

.Right-side {
    border-radius: 30px;
    height: 600px;
}


.Login-side h2 {
    color: #000080;
    font-weight: bold;
}

.Input input {
    width: 350px;
    height: 60px;
    padding-left: 20px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    border-width: 1px;
}

.input-email {
    margin-top: 20px;
}

.input-password {
    margin-top: 20px;
}

.Checkbox-Accept {
    margin-top: 15px;
    color: black;
}

.Checkbox-Accept p {
    margin-right: 120px;
    margin-top: 0px;
    font-size: 15px;
    font-weight: normal;
    float: right;
    color: black;
    width: auto;
    height: auto;
}

.Checkbox {
    margin-top: 0;
    border-radius: 5px;
    height: 20px;
    width: 20px;
}

/*Nút đăng ký*/
.btn-Register {
    cursor: pointer;
    border-style: none;
    /* border-color: blue; */
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: purple;
    width: 375px;
    font-size: 20px;
    height: 50px;
}

.seccond_content {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

.seccond_content_icon {
    border-radius: 50%;
    width: 120px;
    background-color: white;
    text-align: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .first_content{
        display: flex;
        flex-direction: row;
        align-items: unset;
        height: fit-content;
    }
    .left_content {
        width: 100%;
        margin: 0px 10px;
    }

    .left_content > h1 {
        margin-top: -20px;
        width: auto;
        font-size: 44px;
        /* font-size: 5rem; */
        /* margin: 0%; */
    }


    .right_content {
        display: none;
    }
}

@media only screen and (min-width: 786px) {}