:root {
    --main-color: #3F48CC;
    --icon-color: #0070FF;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
}
.header_left{
    display: inline-flex;
    width: auto;
    height: 30px;
    align-items: center;
}
.header_left > h1{
    margin-left: 10px;
    width: 700px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.btnExit{
    display: inline-flex;
    align-items: center;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    justify-content: center;
    box-sizing: border-box;
}

.header_right{
    background-color: green;
    color: white;
    font-size: 20px;
    width: 90px;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
.content{
    width: 100%;
    /* max-height: 899px; */
    display: flex;
    justify-content: center;
}
.main_content{
    margin-top: 20px;
    border-radius: 10px;
    width: 50%;
    height: max-content;
    padding: 20px 35px;
    box-sizing: border-box;
    border: 1px solid;
}
.course_name{
    width: 100%;
    height: 60px;
    font-size: 20px;
    padding: 0 20px;
    border-radius: 5px;
    outline-color: var(--icon-color);
    border-style: none;
    box-sizing: border-box;
}
.course_name:hover{
    width: 880px;
    height: 60px;
    font-size: 20px;
    padding: 0 20px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px;
}

.add_question_btn{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    margin-top: 20px;
    box-shadow: 0px 0px 3px;
}
.icon_add_question{
    color: var(--icon-color);
}
#list{
    transform: rotate(0deg);
    transition: 0.5s;
}
#list_active{
    transform: rotate(180deg);
    transition: 0.5s;
}

.course_date{
    display: flex;
    flex-direction: row;
    width: 600px;
}
.date_close{
    margin-left: 30px;
}
.backdrop {
    position: fixed;
    z-index: 0;
    /* background-color: whitesmoke; */
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.nav_question{
    border-radius: 5px;
    background-color: white;
    padding: 20px 0px;
    box-shadow: 0px 0px 5px;
    display: flex;
    height: auto;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.question_item{
    width: auto;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
    /* position: relative; */
    padding: 10px 20px;
    margin-top: 20px;
    box-sizing: border-box;
}
.question_item_name{
    width: 100%;
    font-size: 30px;
    border-style: none;
    outline-color: var(--icon-color);
}
.question_item_name:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
    border-style: none;
}
.question_item_selection{
    width: 100%;
    height: 30px;
}

.none{
    display: none;
}

.question_item_solution{
    width: 100%;
    /* margin-top: 10px; */
    height: fit-content;
    /* border-radius: 10px; */
    /* padding: 10px 20px; */
    /* box-shadow: 0px 0px 5px; */
    position: relative;
    box-sizing: border-box;
}
.question_item_solution_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.question_item_solution_header > p >span{
    font-size: 20px;
    font-weight: bolder;
}
.question_item_solution_header > svg{
    transform: rotateX(180deg);
    transition: 1s;
}
/* .question_item_mutiple_active{

} */
.question_item_radio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
}
.question_answer{
    border-style: none;
    font-size: 20px;
    width: 90%;
    height: 30px;
    padding: 10px 20px;
    box-sizing: border-box;
}
.question_answer:hover{
    box-shadow: 0xp 0px 5px;
    box-sizing: border-box;
}
