:root {
    --main-color: #3F48CC;
    --icon-color: #0070FF;
}

.container {
    width: 100%;
    height: fit-content;
    color: black;
    padding: 20px 80px;
    box-sizing: border-box;
}

.TableCauHoiCode{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btnTaoBai{
    float: right;
    margin-bottom: 20px;
}
td{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}