:root {
    --main-color: #3F48CC;
    --header-theory: #03045E;
}


.theory {
    height: fit-content;
}

.theoryHeader {
    width: 100%;
    height: 150px;
    background-color: var(--header-theory);
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    text-align: left;
    box-sizing: border-box;
}

.theoryHeaderLeft {
    width: auto;
    padding-top: 1%;

}

.theoryHeader h1 {
    color: white;
    font-size: 25px;
    box-sizing: border-box;
}

.nameTheory {
    border-style: none;
    border-radius: none;
    width: 430px;
    font-size: 15px;
    outline: none;
}


.findTheory {
    display: flex;
    height: 39px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 470px;
    background-color: white;
}

.container {
    width: 100%;
    padding: 30px 150px 30px 150px;
}

.kienthuccoso {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.kienthuccoso h1 {
    margin-top: 20px;
    text-transform: uppercase;
}

.listCourse {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 200px;
}



.course {
    width: 260px;
    background-color: var(--main-color);
    border-radius: 5px;
    height: 320px;
    display: flex;
    margin-right: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    flex-direction: column;
    box-shadow: 0px 5px 5px 0px gray;
}

.course img {
    cursor: pointer;
}

.course div {
    width: 260px;
    height: 100%;
    display: block;
    /* flex-direction: column; */
    padding-left: 10px;
    border-radius: 0px 30px 5px 5px;
    background-color: white;
    box-sizing: border-box;
    /* justify-content: flex-start; */
}

.discription {
    font-size: 14px;
    width: 190x;
    height: 45px;
    /* background-color: red; */
    display: block;

    overflow: hidden;
    /* white-space:nowrap; */
    text-overflow: ellipsis;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course div .line {
    width: 235px;
    margin-right: 10px;
    height: 1px;
    background-color: red;
    border-radius: 5px;
    box-sizing: border-box;
}

.kind {
    color: var(--main-color);
    height: 10px;
}

