.exercise_input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
.input_items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}
.input_item{
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}
.exercise_btn{
    display: inline-flex;
    cursor: pointer;
    align-items: center;
}
.exercise_btn > p{
    color: var(--main-color);
}
.exercise_btn > button{
    cursor: pointer;
    outline: none;
    color: white;
    background-color: var(--main-color);
    font-size: 15px;
    margin-left: 10px;
    width: 50px;
    height: 30px;
}
.answer_input{
    box-shadow: 0px 0px 5px;
    padding: 0px 10px;
    width: 400px;
    z-index: 3;
    top: 12%;
    left: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    height: 530px;
    position: absolute;
    background-color: white;
    box-sizing: border-box;
}
.btn_answer_input{
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: flex-end;
}
.btn_close{
    cursor: pointer;
    margin-right: 20px;
}
.btn_save{
    cursor: pointer;
    color: red;
    
}