.Footer{
    box-sizing: border-box;
    height: 250px;
    padding-right: 5rem;
    color: #2C31CF;
    box-sizing: border-box;
    /* position: static; */
    position: relative;
    display: flex;
    justify-content: space-around;
}
/*******************************/
.Logo_Footer{
    display: block;
    margin-top: -30px;
    /* margin-left: 100px; */
    max-width: 580px;
    float: left;
    /* margin-right: 400px; */
}
.Logo_Footer img{
    max-width: 280px;
}

.SocialNetwork{
    margin-top: -70px;
    margin-left: 40px;
    list-style-type: none;
    padding: 0px;
    box-sizing: border-box;
    /* display: block; */
}
.SocialNetwork li{
    display: inline;
}
.SocialNetwork li a img{
    max-height: 50px;
}
/*******************************/

.Right_footer{
    margin-top: 20px;
    width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}


.List{
    /* display: block; */
    text-align: left;
    padding-inline-start: 0px;
    box-sizing: border-box;
}
.List li{
    margin-top: 9px;
    list-style-type: none;
}
.List li a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.List li a:hover{
    text-decoration: underline;
}
/*******************************/
